
<div class="row" style="margin-top:100px">

    <p style="font-size:large">
        Estructura de la aplicación:
    </p>

    <p><b>Front-End</b></p>

    <ul>
        <li>AngularJs</li>
        <li>jQuery</li>
        <li>Bootstrap Twitter</li>
        <li>Uso de “hubs” mediante SignalR 2.2.0</li>
    </ul>

    <p><b>Back-End</b></p>

    <ul>
        <li>ASP.Net Web API 2 en la parte superior de Owin (Open Web Interface for .NET) middleware.</li>
        <li>ORM: Entity Framework 6.0.0.0</li>
        <li>Autenticación: Dentro del Owin middleware --> Emisión de token de autenticación OAuth + Identity 2.0.0.0 (para registrar usuarios y validar credenciales antes de emitir el token)</li>
        <li>Motor de base de datos: SQL Server</li>        
        <li>Uso de “hubs” mediante SignalR 2.2.0</li>
    </ul>

</div>
